# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
# Ignora as configurações do Zend Studio
.settings/*

js/tinymce/plugins/thumbs/ex-presidentes/webcam-toy-foto1.jpg
js/tinymce/plugins/thumbs/diretores/altamiro.jpg
js/tinymce/plugins/thumbs/diretores/salesio.jpg
js/tinymce/plugins/thumbs/diretores/13 - Valerio Ubiray Ferreira da Silva 01-03.jpg
img/captcha/*